@import "tailwindcss";

@theme inline {
  --color-primary: #CC1B1B;
  --color-primary-dark: #a81515;
  --color-dark: #1a1a1a;
  --color-light: #f8f8f8;
}

body {
  background: #f8fafc;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hide-scrollbar::-webkit-scrollbar { display: none; }
.hide-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
